<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>LAYOUT</title>
</head>

<body>
    <header>
        <div class="header">
            <p><img src="images/img3.png" alt="logo1"> Shopping cart</p>
            <p><img src="images/img4.png" alt="logo2"> Sign IN | Register</p>
        </div>
    </header>
        <div class="header">
           <p><img src="images/img1.png" alt="logo3" height="90px" width="70px"></p>
           <h1>512-219-8000</h1>
        </div>
        <div class="nav">
            <ul>
                <li>Yard Signs</li>
                <li>Banners</li>
                <li>Accesorries</li>
                <li>Gallery</li>
                <li>About</li>
                <li>Price</li>
                <li>Materials</li>
                <li>FAQ</li>
                <li><button>Custom Quote</button></li>
            </ul>
        </div>
        <div class="body1">


        </div>
    
</body>

</html>