<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>LAYOUT</title>
</head>

<body>
    <header>
        <div class="header">
            <p><img src="images/img3.png" alt="logo1"> Shopping cart</p>
            <p><img src="images/img4.png" alt="logo2"> Sign IN | Register</p>
        </div>
    </header>
    <div class="header2">
        <p><img src="images/img1.png" alt="logo3" height="90px" width="70px"></p>
        <h1>512-219-8000</h1>
    </div>
    <div class="nav">
        <ul>
            <li>Yard Signs</li>
            <li>Banners</li>
            <li>Accesorries</li>
            <li>Gallery</li>
            <li>About</li>
            <li>Price</li>
            <li>Materials</li>
            <li>FAQ</li>
            <li><button>Custom Quote</button></li>
        </ul>
    </div>
    <div class="body">
        <div class="body1">
            <h1>Big Headline</h1>
            <h2>Smaller Subhead Here</h2>
            <p>And this is text coppied pasted over and over over and over over and over over and over over and over
                over and over over and over over and over over and over over and over </p>
            <button class="btn1">Get Started</button>
        </div>
        <div class="body2">
            <input type="text" placeholder="First Name:">
            <input type="text" placeholder="Last Name:"> <br>
            <input type="text" placeholder="Email:">
            <input type="text" placeholder="Mobile Number:"><br>
            <textarea name="Message" id="" cols="46" rows="5" placeholder="Message"></textarea> <br>
            <button class="btn">SEND</button>


        </div>


    </div>
    <div class="body3">
        <div class="text">
            <h2>This is where an Awesome Title Goes</h2>
            <p>And this is text coppied pasted over and over over and over over and over and over</p>
            <p>over and over and over and over and over and over and over and over and over and over </p>
            <p>and over and over and over and over and over and over</p>
        </div>
        <button class="btn2">Design it Now</button>
    </div>

    <div class="body">
        <div class="body1">
            <video src="images/img2.jpg" autoplay controls width="500px" height="290px"></video>
        </div>
        <div class="body4">
            <h1>Watch This</h1>
            <h2>It's A Video,Yo!</h2>
            <p>And this is text copied pasted over and over and</p>
            <p>over and over and over and over and over and over and over and</p>
            <p>over and over and over and over and over and over  </p>
            <button>
                Learn More
            </button>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <img src="images/img5.png" alt="image 5">
            <h2>Project One</h2>
            <p>Donec id elit non mi porta gravida at eget metus.Fusce dapibus ,justo sit amet risus etaim porte sem</p>
        </div>
        <div class="card">
            <img src="images/img6.png" alt="image 6">
            <h2>Project One</h2>
            <p>Donec id elit non mi porta gravida at eget metus.Fusce dapibus ,justo sit amet risus etaim porte sem</p>
        </div>
        <div class="card">
            <img src="images/img7.png" alt="image 7">
            <h2>Project One</h2>
            <p>Donec id elit non mi porta gravida at eget metus.Fusce dapibus ,justo sit amet risus etaim porte sem</p>
        </div>
    </div>
    <button class="center">Learn More</button>
 <footer>
    <ul>
        <li class="block">Help</li>
        <li class="block">Contact US</li>
        <li class="block">F.A.Q</li>
        <li class="block"> Sitemap</li>
        <li class="block">Pricing</li>
        <li class="block">Redeem promo</li><br>
        <li class="block">Account</li>
        <li class="block">My account</li>
    </ul>
    <ul>
        <li class="block">Products</li>
        <li class="block">Yard Signs </li>
        <li class="block">Real Estate Signs</li>
        <li class="block">Vinyl Banners</li>
        <li class="block">Car Magnetics</li>
        <li class="block">Banner Stands</li>
        <li class="block">Accesorries</li>
        <li class="block">Design Services</li>
    </ul>
    <ul>
        <li class="block">Company</li>
        <li class="block">Overview </li>
        <li class="block">Careers</li>
        <li class="block">Reviews</li><br>
        <li class="block">Program</li>
        <li class="block">Affiliate</li>
        
    </ul>
    <ul>
        <li class="block">Help</li>
        <li class="block">Contact US</li>
        <li class="block">F.A.Q</li>
        <li class="block"> Sitemap</li>
        <li class="block">Pricing</li>
        <li class="block">Redeem promo</li><br>
        <li class="block">Account</li>
        <li class="block">My account</li>
    </ul>
    <ul>
        <li class="block">Products</li>
        <li class="block">Yard Signs </li>
        <li class="block">Real Estate Signs</li>
        <li class="block">Vinyl Banners</li>
        <li class="block">Car Magnetics</li>
        <li class="block">Banner Stands</li>
        <li class="block">Accesorries</li>
        <li class="block">Design Services</li>
    </ul>
    <ul>
        <li class="block">Company</li>
        <li class="block">Overview </li>
        <li class="block">Careers</li>
        <li class="block">Reviews</li><br>
        <li class="block">Program</li>
        <li class="block">Affiliate</li>
        
    </ul>
 </footer>
 <div class="copyright">
    Copyright @ 2016 SignDepotATX.com
 </div>
</body>

</html>