header{
    background-color: rgb(249, 245, 245);
    
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 0px 200px 0px 200px;
}
h1{
    color: gray;
    font-size: 50px;
}

.nav{
    padding: 0px 160px 0px 160px;
}
li{
    display: inline-block;
    width: 10%;
}

button{
    color: white;
    background-color: orange;
    width: 200px;
    height: 40px;
    font-size: large;
    border: none;
}
.body{
    display: flex;
    justify-content: space-between;
    background-color: rgb(249, 245, 245);
    padding-bottom: 80px;
}
.body1{
    padding: 0px 200px 0px 200px;
}

.body2{
    padding-top: 30px;
    padding-right: 200px;
    justify-content: space-around;
}

.btn{
    text-align: center;
    width: 360px;
    border-radius: 5px;
    margin-top: 10px;
}

.btn1{
    text-align: center;
    border-radius: 5px;
}

input{
    padding: 2px;
    margin-top: 15px;
    /* padding-left: 10px; */
}

textarea{
    margin-top:10px ;
}

.body3{
    display: flex;
    background-color: skyblue;
    color: white;
    justify-content: space-between;
    padding: 0px 200px 0px 200px;
}

.btn2{
    margin-top: 60px;
    /* margin-left: 40px; */
    background-color: white;
    color: skyblue;
}


